.navbar{
    background-color: #c4d4a9;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  